<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container">

    <div class="card bg-ligth">

        <div class="card-body">


            <div class="jumbotron">
                <h1 class="display-3" th:text="${mensaje}"></h1>
                <h2>Estilos para recursos estaicos</h2>
            </div>
        </div>
    </div>
</div>

<footer th:replace="/layout/layout :: footer"></footer>

</body>
</html>
